# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/

# Android
android/.gradle/
android/local.properties
android/key.properties
*.keystore
*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GeneratedPluginRegistrant.*

# macOS
macos/Pods/

# OS
.DS_Store
Thumbs.db